#my {
    font-family: 'Maven Pro', sans-serif;
}

li {
    line-height: 30px;
    font-size: 17px;
}

li category {
    width: 50px;
    float: left;
    text-align: right;
    padding-right: 20px;
}