html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -90px;
}

#wrap .container {
    padding-top: 90px;
}

#my {
    float: left;
    font-family: 'Maven Pro', sans-serif;
}

#links {
    float: left;
    margin-left: 30px;
}

#links li {
    line-height: 30px;
    font-size: 17px;
}

#links li category {
    width: 50px;
    float: left;
    text-align: right;
    padding-right: 20px;
}

#push {
    height: 60px;
}

#footer {
    height: 60px;
}

#footer {
    text-align: center;
}
